.poster{
    display: flex;

    span {
        min-width: 11.5rem;
        transition: all .2s linear;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 7px;
        
        &:hover {
            transform: scale(1.09);
        }
        
        img {
            width: 100%;
            height: 100%;
            max-width: 180px;
            max-height: 280px;
            object-fit: contain;
        }
    }
    
    
    
}