.row{

    padding: 1rem;

    &__posters {
        padding: 1rem 0;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 100vw;
        scrollbar-color: purple;

        &::-webkit-scrollbar{
            display: none;
        }

    }

}